* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

input[type='text'] {
  width: 300px;
  height: 38px;

  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 5px;
}

button[type='submit'] {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;

  transition: background-color 250ms linear;
}

button[type='submit']:hover {
  background-color: #27ae60;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0 -10px 0;
}
.gallery__item {
  text-decoration: none;
  color: inherit;
}

.photo-card {
  width: calc((100% - 80px) / 4);
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.photo-card:hover {
  box-shadow: 0 0 10px 0 #cccccc;
}

img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 10px;
}
.info-item {
  text-align: center;
  margin: 0 0 5px 0;
}
.info-item:not(:last-child) {
  margin-right: 10px;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px auto;
}

.load-more:hover {
  background-color: #27ae60;
}

#scrollTop {
  position: fixed;
  bottom: 70px;
  right: 50px;
  font-size: 35px;
  z-index: 1;
 padding: 0;

  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

/* .show {
      opacity: 1;
      visibility: visible;
    }

    .show_hide {
      opacity: 0;
    } */

#scrollTop.is-hidden {
  opacity: 0;
  transition: 1000ms;
}

/* display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;

  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; */

/* #buttonUp::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#buttonUp:hover {
  cursor: pointer;
  background-color: #333;
}

#buttonUp:active {
  background-color: #555;
}

#buttonUp.show {
  opacity: 1;
  visibility: visible;
} */
